.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.fade-enter-active {
  transition: all 0.5s ease-out;
}

.fade-leave-active {
  transition: all 0.5s ease-in;
}

.fade-enter-from {
  opacity: 0;
  transform: translateY(20px) translateZ(0);
}

.fade-leave-to {
  opacity: 0;
  transform: translateY(-20px) translateZ(0);
}

.move1-enter-active,
.move1-leave-active,
.move2-enter-active,
.move2-leave-active,
.move3-enter-active,
.move3-leave-active {
  transition: all 0.75s ease-out;
}

.move1-enter-from,
.move1-leave-to {
  transform: translate(-100vw, 0) translateZ(0);
}

.move2-enter-from {
  transform: translate(100vw, 10.51vw) translateZ(0);
}

.move2-leave-to {
  transform: translate(-100vw, -10.51vw) translateZ(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
